/*Dark Green*/
.nav .nav_ico{
	background: rgb(131,191,41);
	background: -moz-linear-gradient(top, rgba(131,191,41,1) 0%, rgba(98,156,20,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(131,191,41,1)), color-stop(100%,rgba(98,156,20,1)));
	background: -webkit-linear-gradient(top, rgba(131,191,41,1) 0%,rgba(98,156,20,1) 100%);
	background: -o-linear-gradient(top, rgba(131,191,41,1) 0%,rgba(98,156,20,1) 100%);
	background: -ms-linear-gradient(top, rgba(131,191,41,1) 0%,rgba(98,156,20,1) 100%);
	background: linear-gradient(to bottom, rgba(131,191,41,1) 0%,rgba(98,156,20,1) 100%);
}
.skill_set, 
.personal_skills li span,
.filter_portfolio li.current,
.filter_portfolio li:hover,
.item_overlay,
.button,
.section_right h5{
	background: #83bf29;
}
.nav .nav_ico{
	border: 1px solid #83bf29;
}
h2 span{
	color:#83bf29;
}